page-home {
  .sidebar {
    //@at-root background: #800505;
    background: #cc1818;
    color: #fff;
    width: 20%;
  }

  .sidebar .logo-img {
    width: 100%;
    z-index: -1;
    padding-right: 6px;
    margin-top: 8px;
  }

  .sidebar .side-bar {
    margin-top: -50px;
  }

  .sidebar .side-bar button {
    margin: 2px;
  }

  .sidebar .menu-icons {
    width: 100%;
    z-index: -1;
  }

  .sidebar .arrow-btn {
    background-color: transparent;
    margin: 0px;
  }

  .sidebar .arrow-btn #arrow-btn-img {
    width: 100%;
    z-index: -1;
  }

  .outer-div {
    width: 100%;
    height: 100%;
  }

  .main-img {
    position: relative;
    width: 100%;
    height: 80px
  }

  .outer-div #skin-care-l {
    width: 100%;
    z-index: -1;
  }

  .outer-div #skin-care-s {
    width: 71%;
    position: absolute;
    margin-top: -39%;
    margin-left: 14%;
  }

  .outer-div #skin-care-vm {
    width: 40%;
    position: absolute;
    margin-top: -25%;
    margin-left: 30%;
  }

  .outer-div #fragrance {
    width: 40%;
    margin-top: 8%;
    margin-left: 11%;
  }

  .outer-div #fragrance-vm {
    width: 26%;
    margin-top: 5%;
    margin-left: 25%;
  }

  .outer-div #body-care-l {
    width: 100%;
  }

  .outer-div #body-care-s {
    width: 72%;
    position: absolute;
    margin-top: -41%;
    margin-left: 14%;
  }

  .outer-div #body-care-vm {
    width: 28%;
    position: absolute;
    margin-top: -9%;
    margin-left: 68%;
  }

  .outer-div #hair-care-l {
    width: 82%;
    height: 100%;
  }

  .outer-div #hair-care-s {
    width: 70%;
    position: absolute;
    margin-top: 14%;
    margin-left: -77%;
  }

  .outer-div #hair-care-vm {
    width: 7%;
    position: absolute;
    margin-top: -41%;
    margin-left: 90%;
  }

  .outer-div .inlay-1 {
    position: absolute;
    top: 5px;
    right: 0px;
    width: 40%;
    height: 20%;
    margin-top: 46%;
  }

  .outer-div .inlay-1 #inlay-1-fragrance {
    width: 100%;
  }

  .inlay-2 {
    position: absolute;
    top: 5px;
    right: 0px;
    width: 49%;
    height: 20%;
    margin-top: 132%;
    right: auto;
    margin-left: -3px;
  }

  .outer-div .inlay-2 #inlay-2-offer {
    width: 100%;
    height: 100%;
  }

  .fab-md {
    -webkit-box-shadow: none !important;
  }

  ion-fab-list {
    background: #cc1818 !important;
    margin: 0px !important;
    left: 50px !important;
    padding-right: 76px !important;
    height: 72px !important;
    top: -22px !important;
  }

  .fab-in-list {
    margin: 0 4px !important;
    width: 50px !important;
 }

  .bottm-btn {
    background: transparent !important;
  }

  .bottm-btn img {
   // height: 40px !important; 
    //width: 50px !important;
  }

}
